.logo {
    justify-content: center;
    align-items: center;
}


.navbars {
    width: 100%;
    background-color: black;
    margin-bottom: 0%;
}

.info {
    margin-left: 45%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .navbars {
        display: none;
    }

}