.form{
    margin: auto;
    width: 250px;
}
.icon{
    font-size: 25px;
}

.icon-excel {
    font-size: 25px;
    color: #198754;
}


.navbar-nav {
    background-color: rgb(25, 51, 99);
    position: fixed;
    width: 12%;
    height: 94vh;
}

main {
    margin-left: 200px;
    margin-right: 5px;
}

.links:hover {
    background-color: rgb(0, 0, 0);
}